

<div class="col-12 p-0 m-0" >
  <div class="col-12 p-0 m-0 " >
    <h3 class="model-titre">{{emp.nom}} {{emp.prenom}}</h3>
  </div>
  <div>

    <div class="card-body">
      <p>
        <span style="font-weight:bold;"> ID : </span> {{emp.numEmployee}}
      </p>
      <p>
        <span style="font-weight:bold;"> Sexe : </span> {{emp.sexe}}
      </p>
      <p>
        <span style="font-weight:bold;"> CIN : </span> {{emp.cin}}
      </p>
      <p>
        <span style="font-weight:bold;"> Email : </span> {{emp.email}}
      </p>
      <p>
        <span style="font-weight:bold;"> Téléphone : </span> {{emp.telephone}}
      </p>

      <p>
        <span style="font-weight:bold;"> Fonction : </span> {{emp.fonction}}
      </p>


      <p>
        <span style="font-weight:bold;"> Salaire : </span> {{emp.salaire}}
      </p>


      <p>
        <span style="font-weight:bold;"> Commission : </span> {{emp.commission}}
      </p>

      <p>
        <span style="font-weight:bold;"> Adresse : </span> {{adresse.quartier}} {{adresse.ville}} {{adresse.codePostal}} {{adresse.gouvernorat}}
      </p>

    </div>
  </div>
</div>



